<?php echo $this->getContent(); ?>

<div class="login-box">
  <div class="login-logo">
    <a href="/"><b>Bicharka</b></a>
  </div>
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <?php echo $this->tag->form(['class' => 'form-search']); ?>
    <div class="form-group has-feedback">
      <?php echo $form->render('email', [
        'class' => 'form-control',
        'placeholder' => 'Email',
      ]); ?>
      <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="form-group has-feedback">
      <?php echo $form->render('password', [
        'class' => 'form-control',
        'placeholder' => 'Password',
      ]); ?>
      <span class="glyphicon glyphicon-lock form-control-feedback"></span>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <div class="checkbox icheck">
          <?php echo $form->render('remember'); ?>
          <?php echo $form->label('remember'); ?>
        </div>
      </div>

      <?php echo $form->render('csrf', ['value' => $this->security->getToken()]); ?>

      <div class="col-xs-4">
        <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
      </div>
    </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i>
        Sign in using Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google btn-flat"><i class="fa fa-google-plus"></i>
        Sign in using Google+</a>
    </div>

    <?php echo $this->tag->linkTo('session/forgotPassword', 'Forgot my password'); ?><br>
    <?php echo $this->tag->linkTo('session/signup', 'Sign up'); ?>

  </div>
</div>
