<?php echo $this->getContent(); ?>

<header class="jumbotron subhead" id="overview">
	<div class="hero-unit">
		<h1>Welcome!</h1>
		<p class="lead">This is a website secured by Phalcon Framework</p>

		<div align="right">
      <a href="session/signup" class="btn btn-primary btn-large"><i class="icon-ok icon-white"></i> Create an Account</a>
		</div>
	</div>
</header>
