<?php
$this->assets
  ->collection('header')
  ->addCss('theme/bootstrap/css/bootstrap.min.css')
  ->addCss('theme/dist/css/AdminLTE.min.css')
  ->addCss('theme/plugins/iCheck/square/blue.css');

$this->assets
  ->collection('header')
  ->addJs('theme/plugins/jQuery/jQuery-2.1.4.min.js')
  ->addJs('theme/bootstrap/js/bootstrap.min.js')
  ->addJs('theme/plugins/iCheck/icheck.min.js');

$this->_pageTitle = 'Bicharka';

?>

<body class="hold-transition login-page">

  <?php echo $this->getContent(); ?>

  <script>
    $(function () {
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-blue',
        radioClass: 'iradio_square-blue',
        increaseArea: '20%' // optional
      });
    });
  </script>
</body>
